:root {
    --orange: #FAB500
}
body{
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, Glacial Indifference, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
header{
    /* background-color: #F6FBFB; */
    /* background-color: transparent; */
    background-color: #f4f4f4;
    display: flex;
    position: sticky;
    /* left: 100px; */
    top: 0;
    z-index: 3;
}
.logo-name{
    display: flex;
    margin-top: 30px;
}
p span {
    color: #fba500;
}
.logo img{
    width: 150px;
    margin-top: 10px;
    margin-left: 100px;
}
.navbar{
    display: flex;
    margin-top: 30px;
    margin-left: 550px;
    margin-bottom: 15px;
}
.navbar a{
    text-decoration: none;
    color: black;
    margin-left: 25px;
    font-weight: 600;
}
.navbar a:hover{
    color: var(--orange);
}
input[type=text]{
    background-color: white;
    color: black;
    border-color: #707070;
    border-width: 0.1px;
    border-radius: 15px;
    padding: 10px 10px 10px 30px;
    margin-left: 50px;
    margin-top: 40px;
}
::placeholder { 
    color: black;
    opacity: 1;
  }
  
  :-ms-input-placeholder { 
    color: black;
  }
  
  ::-ms-input-placeholder {
    color: black;
}
/*bev_land*/
.land-section{
    /* background-color: #F6FBFB; */
    display: flex;
}
#bev_land{
    background-color: #f4f4f4;
    color: #fefefe;
    /* width: 100px; */
    height: 700px;
}
/* .land-section-written{

} */
.land-section h3{
    margin: top 100px;
    font-size: 55px;
    margin-left: 100px;
    color: black;
}
.land-section p{
    margin-left: 100px;
    width: 450px;
    /* margin-top: 8px; */
    margin-top: 50px;
    line-height: 160%;
    font-weight: 457;
    color: black;
}
.land-section-image{
    background-color: #f4f4f4;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100px;
}
.land-section-buttons{
    display: flex;
}
.land-section-buttons p{
    margin-left: 30px;
    width: 15px;
    color: #fba500;
    margin-right: 30px;
}

button.scroll{
    padding: 12px 50px 12px 50px;
    background-color: #fba500;
    color: white;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 100px;
    border-color: #fba500;
    cursor: pointer;
}
button.scroll-border{
    padding: 25px 95px 20px 105px;
    background-color: transparent;
    border-radius: 50px;
    position :absolute;
    top: 550px;
    left: 107px;
    border-color: #fba500;
    cursor: pointer;
    border-top:none;
    border-left: none;
    /* z-index: 0; */
}
/*right cards*/
.cardr-image img{
    width: 300px;
    margin-left: -25px;
    margin-top: -30px;
    /* margin-bottom: 10px; */
}
.cardr-written{
    position: absolute;
    /* margin-top:-100px; */
}
p.dish-name{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: -15px;
}
p.dish-specification{
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: -20px;
}
.cardr{
    -moz-box-shadow:    3px 3px 50px 6px black;
  -webkit-box-shadow: 3px 3px 50px 6px #ccc;
  box-shadow:         3px 3px 20px 6px #ccc;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  margin-left: 850px;
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 50px;
}
/*left cards*/
.cardl-image img{
    width: 300px;
    margin-left: -25px;
    margin-top: -30px;
    /* margin-bottom: 10px; */
}
.cardl-written{
    position: absolute;
    /* margin-top:-100px; */
}
p.dish-name{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: -15px;
}
p.dish-specification{
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: -20px;
}
.cardl{
    -moz-box-shadow:    3px 3px 50px 6px black;
  -webkit-box-shadow: 3px 3px 50px 6px #ccc;
  box-shadow:         3px 3px 20px 6px #ccc;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  margin-left: -850px;
  margin-top: 150px;
  margin-bottom: -70px;
  padding: 50px;
}
.category-search{
    display: flex;
}
/* footer */
footer{
    background-color: #F6FBFB;
    margin-top: 150px;
}
.footer{
    display: flex;
}
.footer-logo-name{
    display: flex;
    margin-top: 85px;
    margin-left: -300px;
    margin-right: 200px;;
}
p span {
    color: #fba500;
}
.footer-column1 img{
    width: 100px;
}
.footer-column1 p{
    font-size: 14px;
}
.footer-column1{
    width: 400px;
    margin: 80px 0px 40px 100px;
}
.quote{
    display: flex;
}
.footer-column3{
    width: 280px;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 250px;
}
.footer-column3 a,.footer-column4 a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 100px;
}
.footer-column3 h2,.footer-column4 h2{
    font-size: 15px;
    margin-top: 50px;
}
